@import '../../bower_components/normalize-scss/sass/normalize.scss';
@import 'imports/functions';
@import 'imports/mixins';
@import 'imports/variables';

body {
    margin: 0px auto;
    max-width: 1240px;
    //background: url('../images/handmadepaper.png');
}

/*********************
SIMPLE HEADER
*********************/

.header {
    margin: 40px auto 0px auto;
    text-align: center;

    img,
    h1 {
        display: inline-block;
        vertical-align: middle;
    }

    h1 {
        display: none;

        @include breakpoint(tablet) {
            display: inline-block;
            margin-left: 10px;
            font-family: $seriffont;
            font-weight: 400;
            font-style: italic;
            //text-transform: uppercase;
            @include fontSize(14px); 
        }

        @include breakpoint(laptop) {
            @include fontSize(18px);
        }
        
    }

    img {
        width: 50px;
    }
}

/*********************
PHOTOGALLERY
*********************/

/* MASONRY GRID SYSTEM */
.grid {
    max-width: 100%;
    padding-left: 0px !important;

    .tile {
        width: 96%;
        padding: 2%;
        left: 0;
        list-style: none;

        @include breakpoint(phablet) {
            width: 46%;
        }
        @include breakpoint(tablet) {
            width: 29.3%;
        }
        @include breakpoint(laptop) {
            width: 21%;
        }
    }
    img {
        width: 100%;
    }
}