/*********************
REMCALC
*********************/
/*********************
FONTSIZE
*********************/
/*********************
BREAKPOINTS
*********************/
/*********************
FONTS
*********************/
body {
  margin: 0px auto;
  max-width: 1240px; }

/*********************
SIMPLE HEADER
*********************/
.header {
  margin: 40px auto 0px auto;
  text-align: center; }
  .header img,
  .header h1 {
    display: inline-block;
    vertical-align: middle; }
  .header h1 {
    display: none; }
    @media (min-width: 50em) {
      .header h1 {
        display: inline-block;
        margin-left: 10px;
        font-family: "Noto Serif", serif;
        font-weight: 400;
        font-style: italic;
        font-size: 14px;
        font-size: 0.875rem; } }
    @media (min-width: 64em) {
      .header h1 {
        font-size: 18px;
        font-size: 1.125rem; } }
  .header img {
    width: 50px; }

/*********************
PHOTOGALLERY
*********************/
/* MASONRY GRID SYSTEM */
.grid {
  max-width: 100%;
  padding-left: 0px !important; }
  .grid .tile {
    width: 96%;
    padding: 2%;
    left: 0;
    list-style: none; }
    @media (min-width: 37.5em) {
      .grid .tile {
        width: 46%; } }
    @media (min-width: 50em) {
      .grid .tile {
        width: 29.3%; } }
    @media (min-width: 64em) {
      .grid .tile {
        width: 21%; } }
  .grid img {
    width: 100%; }
